* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-image: linear-gradient(to right bottom, #0b0b0b, #333030);
}

html {
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
}
.container{
  max-width: 120rem;
  margin: 0 auto;
}

.header {
  background-image: linear-gradient(to right bottom, #0b0b0b, #333030);
  position: relative;
  height: 100vh;
  /* padding: 0 9.6rem; */
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
}

.logo {
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 6.8rem;
  color: #ff004f;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  list-style: none;
  gap: 3.2rem;
}

.nav-link:link,
.nav-link:visited {
  color: #fff;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}

.nav-link:hover,
.nav-link:active {
  color: #ff004f;
  border-bottom: 1px solid #ff004f;
}

.heading-center {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 8rem;
  color: #ff004f;
  transform: translate(-50%, -50%);
  animation-name: moveLeft;
  animation-duration: 3s;
  text-shadow: 0.5px 0.5px 3px #575353;
  font-weight: 600;
}

.header-main {
  animation-name: moveInLeft;
  animation-duration: 5s;
  border-bottom: 1px solid #ff004f;
  display: inline-block;
}

.heading-primary {
  margin-left: 5rem;
  animation-name: moveInRight;
  animation-duration: 5s;
  border-bottom: 1px solid #ff004f;
}

.header-text {
  animation-name: moveInTop;
  animation-duration: 5s;
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  80% {
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
/* ---------------------------SECTION-ABOUT----------------------------- */
.section-about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
}

.about-text-box {
  max-width: 60rem;
}

.photo {
  width: 85%;
  justify-self: end;
  opacity: 0.7;
}

.about-header {
  color: #ff004f;
  font-size: 4rem;
  font-weight: 400;
  border-bottom: 1px solid #ff004f;
  display: inline-block;
  margin: 4rem 0;
}

.about-text {
  font-size: 2.2rem;
  color: #fff;
}

.btn:link,
.btn:visited {
  background-color: #ff004f;
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  padding: 1.5rem 3.5rem;
  margin-top: 3.2rem;
  display: inline-block;
  border-radius: 9px;
  transition: all 0.5s;
  animation: moveBottom;
  animation-duration: 3s;
  animation-delay: 2s;
}
.btn:hover {
  box-shadow: 1px 1px 8px #e50c51;
  transform: translateY(-10px);
}
.btn:active {
  transform: translateY(7px);
}


.btn-margin {
  margin-left: 2rem;
}

.skill-container {
  padding: 6.4rem 2rem;
  /* background-image: linear-gradient(to left bottom, #0b0b0b, #333030); */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
}
.skill-box {
  padding: 2rem;
  box-shadow: 0.5px 0.5px 2px #161515;
  transition: all 0.3s ease-in-out;
}
.skill-box:hover {
  transform: translateY(-15px);
}
.skill-logo {
  display: block;
  width: 6rem;
  height: 6rem;
  margin: 2rem 0;
}
.skill-text {
  font-size: 1.8rem;
  color: #fff;
  margin: 2rem 0;
}

.skill-heading {
  margin-top: 2rem;
  font-weight: 600;
  display: inline-block;
  letter-spacing: 1rem;
  text-transform: uppercase;
  font-size: 1.7rem;
  color: #fff;
  padding: 0.5rem 2rem;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
}
.bg-color-css {
}
.java {
  letter-spacing: 0.5rem;
}
/*# sourceMappingURL=main.css.map */
