$color: #ff004f;
$bg-color: #080808;
$color-dark: #575353;
$color-white: #fff;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  background-image: linear-gradient(to right bottom, #0b0b0b, #333030);
}
html {
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
}

.header {
  background-image: linear-gradient(to right bottom, #0b0b0b, #333030);
  position: relative;
  height: 100vh;
  padding: 0 9.6rem;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
}
.logo {
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 6.8rem;
  color: $color;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3.6rem;
  list-style: none;
  gap: 3.2rem;
}
.nav-link:link,
.nav-link:visited {
  color: $color-white;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}
.nav-link:hover,
.nav-link:active {
  color: $color;
  border-bottom: 1px solid $color;
}
.heading-center {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 8rem;
  color: $color;
  transform: translate(-50%, -50%);
  animation-name: moveLeft;
  animation-duration: 3s;
  text-shadow: 0.5px 0.5px 3px $color-dark;
  font-weight: 600;
}
.header-main {
  animation-name: moveInLeft;
  animation-duration: 5s;
  border-bottom: 1px solid $color;
  display: inline-block;
}
.heading-primary {
  margin-left: 5rem;
  animation-name: moveInRight;
  animation-duration: 5s;
  border-bottom: 1px solid $color;
}
.header-text {
  animation-name: moveInTop;
  animation-duration: 5s;
}
@keyframes moveInTop {
  0% {
    opacity: 0;

    transform: translateY(10rem);
  }
  80% {
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;

    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;

    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
/* ---------------------------SECTION-ABOUT----------------------------- */
.section-about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
  padding-left: 9.6rem;
}
.about-text-box {
  max-width: 60rem;
}

.photo {
  width: 85%;
  justify-self: end;
}
.about-header {
  color: $color;
  font-size: 4rem;
  font-weight: 400;
  border-bottom: 1px solid $color;
  display: inline-block;
  margin: 4rem 0;
}
.about-text {
  font-size: 3rem;
  color: #fff;
}
.btn:link,
.btn:visited {
  background-color: $color;
  color: $color-white;
  text-decoration: none;
  font-size: 2rem;
  padding: 1.5rem 2.5rem;
  margin-top: 3.2rem;
  display: inline-block;
  border-radius: 9px;
  transition: all 0.5s;
  animation: moveBottom;
  animation-duration: 3s;
  animation-delay: 1s;
}

@keyframes moveBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.btn:hover,
.btn:active {
  outline: 5px solid $color-white;
  opacity: 1;
}
.btn-margin {
  margin-left: 2rem;
}
.skill {
  background-image: linear-gradient(to left bottom, #0b0b0b, #333030);
}
